<li>
  <%= link_to link.url, link %>
  <%= number_to_count(link.comments.count, 'comment') %>.

  <% if current_user %>
    <%= link_to 'Comment', new_link_comment_path(link) %>
    <% if current_user.favourite_ids.include?(link.id) %>
      <%= link_to 'Unmark as Favourite', favourite_path(link), :method => :delete %>
    <% else %>
      <%= link_to 'Mark as Favourite', mark_favourite_path(link), :method => :post %>
    <% end %>
  <% end %>
</li>
