<h2>My Wall</h2>

<h3>My Links</h3>

<table id="links">
  <% @links.each do |link| %>
    <tr>
      <td><%= link_to link.url, link %></td>
      <td><%= link_to 'Delete', link, :method => :delete, :confirm => 'Delete this link?' %></td>
    </tr>
  <% end %>
</table>

<h3>My Comments</h3>
<ol id="comments">
  <% @comments.each do |comment| %>
    <li>
      <%= simple_format(comment.body) %>
      <p class="meta">
        Posted on <%= link_to comment.link.url, comment.link %> at <%= l comment.created_at %>.
      </p>
    </li>
  <% end %>
</ol>
